*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.AddPage{
    display: grid;
    grid-template-columns: [container-start]1fr[center-start]repeat(6, [col-start] minmax(min-content, 16.67rem)[col-end]) [center-end] 1fr [container-end];
    grid-template-rows: 12vh minmax(88vh, min-content);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,78,1) 35%, rgba(0,212,255,1) 100%);
}

.AddHeader{
    grid-column: container-start / container-end;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:cornflowerblue
}

.AddHeader a{
    text-decoration: none;
    font-size: 50px;
    /* height: 30px; */
    width: 60ox;
    padding: 3px;
    background-color: rgb(83, 209, 77);
    border-radius: 20px;
}

.AddHeader a:hover{
    transform: scalex(1.2);
    transition-delay: 0.3s;
    transition-duration: 2s;
}

.addBody{
    grid-column: center-start / center-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.internals_holder{
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid brown;
    border-bottom: 0;
    border-radius: 6px;
}

.label_input_holder{
    display: flex;
    align-items: center;
    justify-content: center;
}

.label_holder{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
    margin-right: 10px;
}

.input_holder{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.input_holder input{
    border-radius: 5px;
    padding-left: 5px;
}

.input_holder input:nth-child(2){
    width: 200px;
}

.finalize_add_holder{
    margin-top: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.finalize_add_holder button{
    padding: 2px 5px;
    border-radius: 5px;
}

.tasks_holder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}